.nav-space-top{
	padding: 20px 20px;
	background-color: lighten(#222222, 5%);
	text-align: right;
	a{
		color: #fff;
		text-decoration: none;
		padding: 5px 20px;
		&:hover{
			color: #e3e3e3;
		}
	}
}

.nav-space-bottom{
	padding: 10px 20px;
	display: inline-block;
	a{
		color: #222;
		text-decoration: none;
		padding: 5px 20px;
	}
}