<section id="blog" class="blog-section light-section dark-content">
	<div class="container">
		<h1 class="special-heading dark-special">Recent Blog Posts</h1>

		<div class="row">
			{% for post in site.posts limit: 3 %}
				<div class="col-sm-4 post-col">
					<figure><img src="{{site.baseurl}}/{{ post.image }}" alt=""></figure>
					<h2>{{ post.title }}</h2>
					<p>{{ post.content | truncate: 50 }}</p>
					<a href="{{ site.baseurl }}{{ post.url }}" class="btn read-more">Read More</a>
				</div>
			{% endfor %}
		</div>

		<a href="{{ site.baseurl }}/blogs" class="btn btn-outline btn-darkblue more-blog">Read Our Blog</a>

	</div>
</section>