<section id="clients" class="parallax clients-section photo-section dark-section light-content">
	<div class="bg-overlay"></div>
	<div class="container">
		<h1 class="special-heading light-special">My clients</h1>

			<div class="carousel">
				<div>
					<span class="client-logo"><img src="assets/google.png" alt="" /></span>
				</div>
				<div>
					<span class="client-logo"><img src="assets/yahoo.png" alt="" /></span>
				</div>
				<div>
					<a href="index.html#"><span class="client-logo"><img src="assets/visa.png" alt="" /></span></a>
				</div>
				<div>
					<span class="client-logo"><img src="assets/paypal.png" alt="" /></span>
				</div>
				<div>
					<span class="client-logo"><img src="assets/google.png" alt="" /></span>
				</div>
				<div>
					<span class="client-logo"><img src="assets/yahoo.png" alt="" /></span>
				</div>
				<div>
					<span class="client-logo"><img src="assets/visa.png" alt="" /></span>
				</div>
			</div>

	</div>
</section>