<section id="portfolio" class="portfolio-section light-section dark-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="special-heading dark-special">Our Work</h1>
				<p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div>
		</div>

		<div class="filter-bar clearfix">
			<ul class="filter-list">
				<li class="filter btn btn-medium btn-darkblue btn-outline active" data-id="all">All</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="web-design">Web design</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="ui-design">UI design</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="graphics">Graphics</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="add-ons">Add-Ons</li>
			</ul>

			<a href="portfolio" class="more-work btn btn-medium btn-darkblue btn-outline">All my work</a>
		</div>


		<div class="main">
			<ul id="og-grid" class="og-grid">
				{% for portfolio in site.portfolios %}
				<li class="portfolio-item visible-item" data-id="graphics web-design">
					<a href="{{ site.baseurl }}{{ portfolio.url }}" data-largesrc="{{ site.baseurl }}{{ portfolio.thumb }}" data-category="{{ portfolio.categories | join: ', ' }}" data-date="{{ portfolio.date | date: '%a, %B %d, %Y' }}" data-title="{{ portfolio.title }}" data-description="{{ portfolio.meta }}">
						<img src="{{ site.baseurl }}{{ portfolio.thumb }}" alt="{{ portfolio.title }}"/>
						<div class="overlay-content">
							<h4>{{ portfolio.title }}</h4>
							<p>{{ portfolio.meta }}</p>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
