<section id="portfolio" class="portfolio-section light-section dark-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="special-heading dark-special">Our Work</h1>
				<p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div>
		</div>

		<div class="filter-bar clearfix">
			<ul class="filter-list">
				<li class="filter btn btn-medium btn-darkblue btn-outline active" data-id="all">All</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="web-design">Web design</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="ui-design">UI design</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="graphics">Graphics</li>
				<li class="filter btn btn-medium btn-darkblue btn-outline" data-id="add-ons">Add-Ons</li>
			</ul>

			<a href="portfolio" class="more-work btn btn-medium btn-darkblue btn-outline">All my work</a>
		</div>


		<div class="main">
			<ul id="og-grid" class="og-grid">
				<li class="port-item visible-item" data-id="{{add-ons graphics}}">
					<a href="{{ port.url }}" data-largesrc="assets/work1-big.jpg" data-category="{{port.data-category}}" data-date="{{port.data-date}}" data-title={{port.data-title}}"data-description="{{ port.data-meta }}">
						<img src="{{ site.baseurl }}/{{port.image_path}}" alt="{{port.data-title}}"/>
						<div class="overlay-content">
							<h4>{{port.data-title}}</h4>
							<p>{{port.data-meta}}</p>
						</div>
					</a>
				</li><li class="portfolio-item visible-item" data-id="graphics">
					<a href="http://crtv.mk/dXTs" data-largesrc="assets/work2-big.jpg" data-category="Graphics" data-date="Apr 10th, 2014" data-title="Business Card Mockups - pack 2" data-description="<p>Now you can show your mousemade artwork to your clients with style. This is my second pack of Mockup Templates for your Business Cards or Business Card Templates. You can use this mockups pack to present your designs in a better artistic way. Also you can use these business cards mockups for your logo previews to show how the logo looks on a printed card.</p><p>The Mockups pack includes 4 Templates with very realistic perspective and photo effects.Features on this</p><h4>Features:</h4><ul><li>includes 4 PSD files very well organized</li><li>realistic photo effects</li><li>realistic perspective and depth of field</li><li>designs made with smart objects</li></ul>">
						<img src="assets/work2-big.jpg" alt="Business Card Mockups - pack 2"/>
						<div class="overlay-content">
							<h4>Business Card Mockups - pack 2</h4>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
						</div>
					</a>
				</li><li class="portfolio-item visible-item" data-id="ui-design">
					<a href="http://crtv.mk/iYaf" data-largesrc="assets/work3-big.jpg" data-category="UI Design" data-date="Apr 10th, 2014" data-title="Whitepixels UI v1.1" data-description="This is a great pack of premade graphics and web elements designed to help you create applications, great online services or websites. All elements are vector shapes so you can resize them without quality loss. The pack includes: buttons, knobs, forms, sliders, menu bar, switches, directional buttons, list selector, equalizer interface, timeline and a lot more. Every single element was designed with all my atention on details. I hope you'll like and recommend it.">
						<img src="assets/work3-big.jpg" alt="Whitepixels UI v1.1"/>
						<div class="overlay-content">
							<h4>Whitepixels UI v1.1</h4>
							<p>This is a great pack of premade graphics and web elements designed to help you create applications, great online services or websites. All elements are vector...</p>
						</div>
					</a>
				</li><li class="portfolio-item visible-item" data-id="graphics">
					<a href="http://crtv.mk/qXNg" data-largesrc="assets/work4-big.jpg" data-category="Graphics" data-date="Apr 10th, 2014" data-title="Hardcover Book Mockups - mega pack" data-description="<p>If you are a writer, web designer or graphic designer and you need to showcase a book in minutes, this is the product you need. With just few clicks, your Hardcover book is prepared to be shown to the world with style. You only need to paste your title and graphics and your book is ready.</p><p>This Book Mockups pack contains 15 well-made and well-organized PSD files with transparent background. So you can easily save your book as png file and insert it on your design. Every file includes the wood background but you can still add your own. The Hardcover Book Mockups are made in hi-res so you can use them even on print materials.</p>">
						<img src="assets/work4-big.jpg" alt="Hardcover Book Mockups - mega pack"/>
						<div class="overlay-content">
							<h4>Hardcover Book Mockups - mega pack</h4>
							<p>If you are a writer, web designer or graphic designer and you need to showcase a book in minutes, this is the product you need. With just few clicks...</p>
						</div>
					</a>
				</li><li class="portfolio-item visible-item" data-id="ui-design">
					<a href="http://crtv.mk/hYir" data-largesrc="assets/work5-big.jpg" data-category="UI Design" data-date="Apr 10th, 2014" data-title="CreamUI - mobile interface kit" data-description="<p>This is a great mobile UI pack designed to help you create applications for iPhone and iPad with Retina screen. You can modify all graphics and styles just as you want, and use any of included elements: buttons, knobs, sliders, image thumbnails, progress bars, shelfs, forms, checkboxes, call-to-action buttons, audio and video player, switches and a lot more...</p><p>Every single button of this mobile UI pack is designed in 2 versions: normal and pressed. Also all graphics are vector. It means that you can resize every single element without losing quality.</p>">
						<img src="assets/work5-big.jpg" alt="CreamUI - mobile interface kit"/>
						<div class="overlay-content">
							<h4>CreamUI - mobile interface kit</h4>
							<p>This is a great mobile UI pack designed to help you create applications for iPhone and iPad with Retina screen. You can modify all graphics and styles just...</p>
						</div>
					</a>
				</li><li class="portfolio-item visible-item" data-id="web-design">
					<a href="http://crtv.mk/fY4f" data-largesrc="assets/work6-big.jpg" data-category="Web Design" data-date="Apr 10th, 2014" data-title="PlanusWP - One Page Wordpress Theme" data-description="<p>PlanusWP is a responsive one-page Wordpress theme built on Twitter Bootstrap 3 framework. PlanusWP theme is ment to present you as a designer or creative professional to the world. Moreover, this theme can be adapted to any kind of creative agency. This theme was built using the latest features from Bootstrap 3 so it's responsive (mobile first), flat and very nice animated.</p><p>The home page is very customizable as you can reorder the section using drag-and-drop technique. Also you can customize any feature due to the powerful custom admin options.</p><p>PlanusWP is a nice and simple theme allows you to create content and bring attention to it. You don't need to worry about contact plugin, as the contact form is stand-alone. Just add your email adress and all is done.</p>">
						<img src="assets/work6-big.jpg" alt="PlanusWP - One Page Wordpress Theme"/>
						<div class="overlay-content">
							<h4>PlanusWP - One Page Wordpress Theme</h4>
							<p>PlanusWP is a responsive one-page Wordpress theme built on Twitter Bootstrap 3 framework. PlanusWP theme is ment to present you as a designer or...</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>