<section id="services" class="parallax services-section photo-section dark-section light-content">
	<div class="bg-overlay"></div>
	<div class="container">
		<h1 class="special-heading light-special">Our Services</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="service-col">
					<div class="service-icon">
						<figure><i class="fa fa-code"></i></figure>
					</div>
					<h2><a href="index.html#">Coding</a></h2>
					<p>Competing with international market is our motivation to keep developing and progressing to be the best for you.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-col">	
					<div class="service-icon">
						<figure><i class="fa fa-rocket"></i></figure>
					</div>
					<h2><a href="index.html#">Branding</a></h2>
					<p>Competing with international market is our motivation to keep developing and progressing to be the best for you.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service-col">
					<div class="service-icon">
						<figure><i class="fa fa-pencil"></i></figure>
					</div>
					<h2><a href="index.html#">Illustration</a></h2>
					<p>Blend design and programming to create an attractive and elegant look.</p>
				</div>
			</div>
		</div>

	</div>
</section>