<section id="team" class="team-section light-section dark-content">
	<div class="container">
		<h1 class="special-heading dark-special">Our Team</h1>

		<div class="row">
			<div class="col-md-4">
				<div class="team-member">
					<div class="profile-picture">
						<figure><img src="assets/team1.jpg" alt=""></figure>
						<div class="profile-overlay"></div>
						<div class="profile-social">
							<div class="icons-wrapper">
								<a href="index.html#"><i class="fa fa-facebook"></i></a>
								<a href="index.html#"><i class="fa fa-twitter"></i></a>
								<a href="index.html#"><i class="fa fa-linkedin"></i></a>
								<a href="index.html#"><i class="fa fa-pinterest"></i></a>
								<a href="index.html#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
					<h3><a href="index.html#">Imam Ali Mustofa</a></h3>
					<span>CEO - Backend Developer</span>
					<div class="team-bio">
						<p>Growing up creative and productive ideas is how I perfect my dreams into real things.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-member">
					<div class="profile-picture">
						<figure><img src="assets/team2.jpg" alt=""></figure>
						<div class="profile-overlay"></div>
						<div class="profile-social">
							<div class="icons-wrapper">
								<a href="index.html#"><i class="fa fa-facebook"></i></a>
								<a href="index.html#"><i class="fa fa-twitter"></i></a>
								<a href="index.html#"><i class="fa fa-linkedin"></i></a>
								<a href="index.html#"><i class="fa fa-pinterest"></i></a>
								<a href="index.html#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
					<h3><a href="index.html#">Ratna Setyaningrum</a></h3>
					<span>Web Designer - Frontend Developer</span>
					<div class="team-bio">
						<p>The best thing in my life is when I find a mistake and can fix it.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="team-member">
					<div class="profile-picture">
						<figure><img src="assets/team3.jpg" alt=""></figure>
						<div class="profile-overlay"></div>
						<div class="profile-social">
							<div class="icons-wrapper">
								<a href="index.html#"><i class="fa fa-facebook"></i></a>
								<a href="index.html#"><i class="fa fa-twitter"></i></a>
								<a href="index.html#"><i class="fa fa-linkedin"></i></a>
								<a href="index.html#"><i class="fa fa-pinterest"></i></a>
								<a href="index.html#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
					<h3><a href="index.html#">Abah Rootencorpse</a></h3>
					<span>Marketing - Graphic Designer</span>
					<div class="team-bio">
						<p>Creating an authentic design and making the client satisfied with the expected.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>