<section id="testimonials" class="parallax testimonials-section photo-section dark-section light-content">
	<div class="bg-overlay"></div>
	<div class="container">
		<h1 class="special-heading light-special">What my clients say</h1>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="quote-separator"></div>
				<div id="testimonials-rotator" class="testimonials-rotator">
					<div class="testimonial">
						<blockquote>
						  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
						  <footer>Silviu Stefu</footer>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
						  <p>Nothing will benefit human health and increase the chances for survival of life on Earth as much as the evolution to a vegetarian diet.</p>
						  <footer>Albert Einstein</footer>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
						  <p>If you don't want to be beaten, imprisoned, mutilated, killed or tortured then you shouldn't condone such behaviour towards anyone, be they human or not.</p>
						  <footer>Moby</footer>
						</blockquote>
					</div>
					<div class="testimonial">
						<blockquote>
						  <p>My body will not be a tomb for other creatures.</p>
						  <footer>Leonardo Da Vinci</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>