<section id="welcome" class="parallax welcome-section photo-section dark-section light-content parallax">
	<div class="bg-overlay"></div>
	<div class="container">
		<div class="content-wrapper">
			<div class="welcome-content">
				<p class="special-heading light-special">We Are Desaigner &amp; Programmer</p>
				<p>
					<span>Our daily purpose is to build your web experience by</span>
					<span class="rotating-words">creating your image, building your presence, boosting your income</span>
				</p>
				<div class="social-icons light-icons">
					{% if site.twitter_username %}
					    <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
					      <i class="fa fa-twitter"></i>
					    </a>
					{% endif %}
					{% if site.github_username %}
					    <a target="_blank" href="https://github.com/{{ site.github_username }}">
					      <i class="fa fa-github"></i>
					    </a>
					{% endif %}
					{% if site.linkedin_username %}
					    <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
					      <i class="fa fa-linkedin"></i>
					    </a>
					{% endif %}
					{% if site.google_plus_username %}
					    <a target="_blank" href="https://plus.google.com/{{ site.google_plus_username }}">
					      <i class="fa fa-google-plus"></i>
					    </a>
					{% endif %}
					{% if site.facebook_username %}
					    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
					      <i class="fa fa-facebook"></i>
					    </a>
					{% endif %}
					{% if site.dribbble_username %}
					  <a target="_blank" href="https://dribbble.com/{{ site.dribbble_username }}" class="icon">
					      <i class="fa fa-dribbble"></i>
					    </a>
					{% endif %}
					<a target="_blank" href="{{ site.baseurl }}/feed.xml" class="icon">
					  <i class="fa fa-rss-square"></i>
					</a>
				</div>
				<!-- <div class="scroll-more">
					<span>Scroll down</span>
					<i class="scroll-arrow"></i>
				</div> -->
			</div>
		</div>
	</div>
</section>